[submodule "submodule/lib_cpp"]
	path = submodule/lib_cpp
	url = https://github.com/progman/lib_cpp.git
[submodule "submodule/libcore.cpp"]
	path = submodule/libcore.cpp
	url = git@github.com:progman/libcore.cpp.git
